{(oauth/common/header.html)}
    <div>
        <h3>经过 OAuth 管理的 API 列表</h3>

         <table class = "table table-striped">
             <thead>
                 <td>upstream_url</td>
                 <td>request_path</td>
                 <td>OAuth Mode</td>
                 <td>Scope</td>
                 <td>More</td>
                 <td>Operation1</td>
                 <td>Operation2</td>
             </thead>
            <tbody>
                {% for i , item in pairs(oauthItems) do %}
                    <td>{{item.upstream_url}}</td>
                    <td>{{item.request_path}}</td>
                    <td>
                        {% if item.config.enable_authorization_code == true then %}
                            authorization_code 
                        {% end %}
                        {% if item.config.enable_implicit_grant == true then %}
                            implicit_grant
                        {% end %}
                        {% if item.config.enable_password_grant == true then %}
                            password_grant
                        {% end %}
                        {% if item.config.enable_client_credentials == true then %}
                            client_credentials
                        {% end %}
                    </td>
                    <td>
                        {% for  i, s in pairs({{item.config.scopes}}) do %}
                          {{item.config.scopes[i]}},
                        {% end %}
                    </td>
                    <td><a href = "">More</a></td>
                    <td><a href = "">Update</a></td>
                    <td><a href = "">Delete</a></td>
                {% end %}
            </tbody>
        </table>
        
        <h3>尚未经过 OAuth 管理的 API 列表</h3>
            
            {% if table.getn(unOAuthApis) ~= 0 then %}
            <table class = "table table-striped">
                <thead>
                    <td>upstream_url</td>
                    <td>request_path</td>
                    <td>Operation</td>
                </thead>
                <tbody>
                    {% for i,item in pairs(unOAuthApis) do %}
                        <td>{{item.upstream_url}}</td>
                        <td>{{item.request_path}}</td>
                        <td><a href = "">Add this api to oauth</a></td>
                    {% end %}
                </tbody>
            </table>
            {% end %}

            {% if table.getn(unOAuthApis) == 0 then %}
                暂无
            {% end %}
    </div>
{(oauth/common/footer.html)}
